div.headerBar {
    background-color: #222;
    color: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    font-size: xx-small;
    z-index: 1000;
    padding: 60px;
    width: calc(100% - 120px);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.pageContent {
    text-align: center;
}

img.fullSize {
    width: 100%;
    align-self: middle;
    text-align: center;
    align-self: center;
    align-content: center;
}

div.fullSize {
    float: right;
    width: 100%;
    padding: 0px;
    padding-top: 20px;
}

p#projectDescDisplay {
    max-width: unset;
}

div.fullSize h1 {
    font-size: xx-large
}