div.centered {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}

body {
    background-color: #000;
    overflow:hidden;
}

div.foreground {
    font-family: alarmclock, monospace;
    color:red;
    font-size:6em;
    white-space: pre;
}

div.background {
    font-family: alarmclock, monospace;
    color:#222;
    font-size:6em;
    white-space: pre;
}

@font-face {
    font-family: 'alarmclock';
    src: url("./bold.woff2") format("woff2");
}