:root {
    --fg: #282828;
    --bg: #ebdbb2;
    --gray: #584945;
}


@media (prefers-color-scheme: dark) {
    :root {
       --fg: #ebdbb2;
       --bg: #282828;
   }
}

span.digit {
    font-size: 4em;
}