@import url("./phone.css") (max-width: 600px);
@import url("./desktop.css") (min-width: 600px);

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--fg);
    background-color: var(--bg);
}

* {
    transition: background-color 0.3s, color 0.1s, opacity 0.25s, border-bottom 0.3s;
}

div.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

span.digit {
    font-family: 'Azeret Mono', monospace;
    opacity: 1;
}

p.dateDisplay,
span.dateDisplay {
    font-family: 'Azeret Mono', monospace;
    opacity: 0.5;
}

span.digit.colon.halfTransparent {
    opacity: 0.3;
}

input {
    border: none;
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Azeret Mono', monospace;
    border-bottom: var(--gray) 2px solid;
    font-size: 16px
}

input#newDateInput {
    width: 218.41px;
}

input:hover,
input:focus {
    border-bottom: var(--fg) 2px solid;
}

* {
    user-select: none;
    outline: none !important
}

span.material-icons {
    font-size: 16px;
    padding: 0 10px;
}

.noDisplay {
    display: none;
}

:root {
    --fg: #282828;
    --bg: #ebdbb2;
    --gray: #584945;
}


@media (prefers-color-scheme: dark) {
    :root {
       --fg: #ebdbb2;
       --bg: #282828;
   }
}